primary = #00bcd4
primaryDark = #0097a7
primaryLight = #b2ebf2
accent = #ff3d00
accentDark = #dd2c00


.primary
  background-color primary

.primary-dark
  background-color primaryDark

.primary-light
  background-color primaryLight

.accent
  background-color accent

.accent-dark
  background-color accentDark
