@import '_colors'
@import '_fonts'
@import '_animations'
@import '_buttons'
@import '_navigation'
@import '_feed'

body
  font-family 'Roboto-Regular' !important
ion-content
  background-color #e5e5e5

